<h3>快讯列表</h3>
<admin:panel >
  <admin:tabletool filter="true" keyword="{$pageMaps.keyword}">
    <select name="state" id="class_id" class="form-element">
      <option value="0">==状态==</option>
      <foreach name="statusArr" item="vo">
        <option value="{$key}"
          <if condition="$pageMaps['state'] == $key"> selected="selected" </if>
          >{$vo}
          </option>
      </foreach>
    </select>
  </admin:tabletool>

  <admin:table id="table" show="选择|30,编号|30,标题|180,内容,状态|100,海报|100,时间|170,操作|130">
    <foreach name="list" item="vo">
      <tr>
        <td>
        	<input type="checkbox" name="id[]" value="{$vo.id}" />
        </td>
        <td>{$vo.id}</td>
        <td>{$vo.title}</td>
        <td>
            {$vo.content}
        </td>
        <td>
          <if condition="$vo['state']==1"> 
            <span class="u-badge u-badge-primary">草稿</span>
          </if>

          <if condition="$vo['state']==2"> 
            <span class="u-badge u-badge-success">通过</span>
          </if>
          <if condition="$vo['state']==3"> 
            <span class="u-badge u-badge-danger">不通过</span>
          </if>
        </td>
        <td>
          <a href="{$vo.poster}" target='_blank'>
            <img src="{$vo.poster}" style='width:100px'>
          </a>
        </td>
        <td>{$vo.time|date="Y-m-d H:i:s",###}</td>

        <td>
        <if condition="$vo['state']==1">
          <a class="u-btn u-btn-primary  u-btn-small article" href="javascript:;" onclick="message_review(this)" data="{$vo.id}" operation='2'>通过</a>
          <a class="u-btn u-btn-danger  u-btn-small article" href="javascript:;" onclick="message_review(this)" data="{$vo.id}" operation='3'>不通过</a>
        </if>
        <a class="u-btn u-btn-success  u-btn-small" href="{:U('edit',array('id'=>$vo['id']))}">修改</a>
        <a class="u-btn u-btn-danger  u-btn-small del" href="javascript:;" data="{$vo.id}">删除</a></td>
      </tr>
    </foreach>
  </admin:table>
  <admin:tablefoot action="true" item="删除" value="4" />
</admin:panel>
<script type="text/javascript" charset="utf-8">
	Do.ready('base',function() {

		//表格处理
		$('#table').duxTable({
			actionUrl : "{:U('batchAction')}",
			deleteUrl: "{:U('del')}",
			actionParameter : function(){
				return {'class_id' : $('#selectAction').next('#class_id').val()};
			}
		});
	});


  function message_review(par){   //ajax 向后台提交审核

    var obj=$(par); 
    var obj_status=obj.parents('tr').children('td').eq(4);
    var obj_img=obj.parents('tr').children('td').eq(5);
    var id=obj.attr('data');
    var operation=obj.attr('operation');

    $.ajax({
      type:"post",
      url:"/Article/Message/message_review",
      data:{id:id,operation:operation},
      dataType:'json',
      success:function(data){
        if(data.code==1){ 
          obj.parent().children('.article').remove();

          if(operation==2){
              obj_status.html('<span class="u-badge u-badge-success">通过</span>');
              obj_img.html('<a href="'+data.data+'" target="_blank"><img src="'+data.data+'" style="width:100px"></a>');

          }
          if(operation==3){
              obj_status.html('<span class="u-badge u-badge-danger">不通过</span>');
              obj_img.html(' ');
          }
        }else{
          console.log(data);
        }
      }
    });
  }
</script>





