.Title_Apply{
    width: 100%;
    height: 250px;
    background: white;
    overflow: hidden;
}
.Title_Tro_ul{
    width: 50%;
    margin: 20px auto;
    border-bottom:1px silver dashed ;
}
.Title_Tro_ul li{
    text-align: center;
    font-size: 18px;
    border-top: 1px silver dashed;
    height: 40px;
    line-height: 40px;
    font-weight: 300;
}
.Title_Tro_ul li a{
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.Title_Tro_ul li a:hover{
    font-weight: bold;
    color: #5a8bff;
}
.actict{
    color: #5a8bff!important;
    font-weight: bold;
}
.AdmissionRequritBox{
    width: 100%;

}
.TitleAdm{
    border-bottom: 1px black solid;
    width: 85%;
    height: 75px;
    line-height: 75px;
    margin: 30px auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.RequrtDetail{
    width: 85%;
    margin: 0 auto;
    text-align: left;
    font-size:16.5px;
    line-height: 180%;
}
.Detail_p{
    margin-top: 25px;
}
.LocationAndTimeAdm{
    text-align: right;
    font-size: 18px;
    margin-top: 30px;
}
.template-form{
    padding: 30px;
    background: #fff;
    overflow: hidden;
    padding-bottom: 160px;
    position: relative;
}
.template-form input[type=text]{
    padding: 0 10px;
    border: 1px solid #ddd;
    height: 28px;
    width: 278px;
    position: absolute;
    right: 195px;
}
.template-form select{
    padding: 0 10px;
    border: 1px solid #ddd;
    height: 28px;
    width: 300px;
    position: absolute;
    right: 195px;
}
.FormName{
    width: 85px;
    line-height: 30px;
    text-align: right;
    position: absolute;
    left: 220px;
    top: 0;
    font-weight: normal;

}
.formBox{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 50px;
}
.textareaBox{
    width: 100%;
    height: 125px;
    position: relative;
}
.textareaBox textarea{
    position: absolute;
    left: 320px;
    resize: none;
    width: 300px;
    height: 100px;
    border: 1px solid #ddd;
    font-family: 'Microsoft Yahei';
    text-indent: 10px;
}
#btn_submit{
    margin-left: 320px;
    border: 0;
    border-radius: 4px;
    width: 100px;
    height: 35px;
    background: #1187de;
    color: #fff;
    line-height: 35px;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
}
.RhLc{
    width: 100%;
    text-align: center;
}