*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
.box{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    font-family:  'open sans','PingFang SC','Lantinghei SC','Helvetica Neue',Helvetica,Arial,'Microsoft YaHei',"sans-serif";
    font-style: normal;
}
.nav-header-box{
    width: 100%;
    height:130px;
    position: relative;

}
.nav-header-logo{
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
}
.nav-header-logo img{
    width: 360px;
    margin-top: 15px;
    margin-left: 65px;
}
.nav-header{
    width: 50%;
    height: 100%;
    position: absolute;
    right: 20px;
}
.nav-header ul{
    width: 100%;
    height: 100%;
}
.nav-header ul li{
    width: 16.66%;
    height: 130px;
    line-height: 130px;
    text-align: center;
    font-size: 20px;
    float: left;
    font-weight: bold;
}
.nav-header ul li a{
    text-decoration: none;
    color: black;
}
.nav-header ul li a:hover{
    color: #5a8bff;
    font-weight: bold;
}
/*底部黑色*/
.bottom-box{
    width:100% ;
    height: 310px;
    background: black;
}
.bottom-text{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: 90%;
}
.bottom-text-left{
    width: 70%;
    height: 90%;
    color: white;
    float: left;
}
.Tt-bottom{
    font-size: 20px;
    padding-top: 70px;
}
.bottom-text-left a{
    margin-right: 10px;
    text-decoration: none;
    color: #8b8b8b;
    font-size:15px;
}
.bottom-text-left p{
    margin-top: 5px;
}
.bottom-text-right{
    width: 30%;
    height: 90%;
    color: white;
    text-align: left;
    float: right;
}
.bottom-text-right p{
    margin-right: 10px;
    text-decoration: none;
    color: #8b8b8b;
    font-size:15px;
    margin-top: 5px;
}
.bottom-text-right p img{
   position: relative;
    top:2px ;
}