<h3>站点信息</h3>
<admin:panel >
  <admin:form url="{:U('site')}" method="post" id="form" class="m-form-horizontal" >
    <admin:formrow title="站点标题" tip="网站标题栏处显示" >
      <admin:text name="site_title"  value="{$info.site_title}" len="250" datatype="*"  />
    </admin:formrow>
    <admin:formrow title="站点副标题" tip="站点标题后面显示的副标题" >
      <admin:text name="site_subtitle"  value="{$info.site_subtitle}" len="250" />
    </admin:formrow>
    <admin:formrow title="页脚邮箱" tip="页面底部显示的邮箱地址" >
      <admin:text name="site_email"  value="{$info.site_email}" len="250" />
    </admin:formrow>
    <admin:formrow title="站点描述" tip="当前网站的描述信息" >
      <admin:textarea name="site_description" rows="5" >{$info.site_description}</admin:textarea>
    </admin:formrow>
    <admin:formrow title="站点网址" tip="当前网站的域名，开启手机版后做PC跳转" >
      <admin:text name="site_url"  value="{$info.site_url}" len="250" />
    </admin:formrow>
    <admin:formrow title="CDN网址" tip="cdnurl" >
      <admin:text name="cdnurl"  value="{$info.cdnurl}" len="250" />
    </admin:formrow>
    <admin:formrow title="站点版权" tip="版权信息或备案号" >
      <admin:text name="site_copyright"  value="{$info.site_copyright}" len="250" />
    </admin:formrow>
    <admin:formrow title="站点统计" tip="用于统计代码调用" >
      <admin:textarea name="site_statistics"  rows="5" >{$info.site_statistics}</admin:textarea>
    </admin:formrow>

    <admin:formrow title="交易所" tip="已对接交易所的行情API(名称全部小写,名称之间用小写逗号隔开)" >
      <admin:text name="exchange"  value="{$info.exchange}" len="250" />
    </admin:formrow>

    <admin:formrow title="公众号二维码" tip="区块链头条快讯页脚默认的二维码"  >
      <admin:text name="qr_code_a" type="text" value="{$info.qr_code_a}" len="250" width="medium" />
      <a class="u-btn u-btn-primary u-img-upload" data="qr_code_a" preview="qr-preview_a" href="javascript:;" >上传</a> 
      <a class="u-btn u-btn-primary"href="javascript:;" id="qr-preview_a">预览</a> 
    </admin:formrow>
    <admin:formrow title="公众号二维码" tip="福建区块链俱乐部快讯页脚默认的二维码"  >
      <admin:text name="qr_code_b" type="text" value="{$info.qr_code_b}" len="250" width="medium" />
      <a class="u-btn u-btn-primary u-img-upload" data="qr_code_b" preview="qr-preview_b" href="javascript:;" >上传</a> 
      <a class="u-btn u-btn-primary"href="javascript:;" id="qr-preview_b">预览</a> 
    </admin:formrow>
    <admin:formrow title="公众号二维码" tip="蚂蚁区块链快讯页脚默认的二维码"  >
      <admin:text name="qr_code_c" type="text" value="{$info.qr_code_c}" len="250" width="medium" />
      <a class="u-btn u-btn-primary u-img-upload" data="qr_code_c" preview="qr-preview_c" href="javascript:;" >上传</a> 
      <a class="u-btn u-btn-primary"href="javascript:;" id="qr-preview_c">预览</a> 
    </admin:formrow>

    <admin:formsubmit/>
  </admin:form>
</admin:panel>
<script>
Do.ready('base', function() {
	$('#form').duxFormPage();
});
</script> 
