<h3>{$name}会员</h3>
<admin:panel >
  <admin:form url="{:U()}" method="post" id="form"  class="m-form-horizontal" >
    
    <admin:formrow title="权重" tip="数值越大越靠前"  >
      <admin:text name="order_id"  value="{$info.order_id}" len="100"   />
    </admin:formrow>
    <admin:formrow title="姓名" tip=""  >
      <admin:text name="name"  value="{$info.name}" len="100"/>
    </admin:formrow>
    <admin:formrow title="角色" tip=""  >
      <admin:radio name="role"  item="会长,秘书长,副会长,监事,理事" value="1,2,3,4,5" checked="$info['role']" isset="5" />
    </admin:formrow>  
    <admin:formrow title="头像" tip=""  >
      <admin:text name="image" type="text" value="{$info.image}" len="250" width="medium" />
      <a class="u-btn u-btn-primary u-img-upload" data="image" preview="image-preview" href="javascript:;" >上传</a> 
      <a class="u-btn u-btn-primary" href="javascript:;" id="image-preview">预览</a> 
    </admin:formrow>
    <admin:formrow title="头衔1" tip=""  >
      <admin:text name="position1"  value="{$info.position1}" len="100"/>
    </admin:formrow>
    <admin:formrow title="头衔2" tip=""  >
      <admin:text name="position2"  value="{$info.position2}" len="100"/>
    </admin:formrow>
    <admin:formrow title="头衔3" tip=""  >
      <admin:text name="position3"  value="{$info.position3}" len="100"/>
    </admin:formrow>

	  <admin:formrow title="状态" tip=""  >
      <admin:radio name="status"  item="显示,不显示" value="1,2" checked="$info['status']" isset="1" />
    </admin:formrow>     

    <admin:formsubmit/>
    <admin:text name="id" type="hidden"  value="{$info.id}"  />
  </admin:form>
</admin:panel>
<script>
Do.ready('base',function(){

  var option={};
  option.returnUrl="{:U('Admin/Council/index')}";
  $('#form').duxFormPage(option);

});

</script> 

